body {
  background-image: url("images/0.jpg");
  background-color: rgb(182, 145, 113);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Courier New', monospace;
  display: flex;
  justify-content: flex-end; /* Alignement principal */
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.section-centre {
  margin-left: auto; /* Pousse la section vers la droite */
  margin-right: 50px; /* Distance par rapport au bord droit */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: -1px;
}
.section-droite{
position: relative;
top: 110px;
right:520px ;
color: blanchedalmond;
font-weight: bold;
font-size: 18px;
font-family: "Silkscreen", sans-serif;
font-weight: 400;
font-style: normal;
}
.instructions {
color: antiquewhite;
font-size: 25px;
font-family: "Silkscreen", sans-serif;
font-weight: 400;
font-style: normal;

}

.mot-devine {
color: antiquewhite;
font-size: 24px;
margin: 20px 0;
text-align: center;
font-family: "Silkscreen", sans-serif;
font-weight: 400;
font-style: normal;
text-transform: uppercase;

}

.rang-clavier {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.touche {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: radial-gradient(circle, #b7835d, #ad6635);
  border: 2px solid antiquewhite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #222;
  cursor: pointer;
  transition: background 0.3s ease;
}

.touche:hover {
  background: radial-gradient(circle, #ad6635, #b7835d);
}
.lettre-utilisee {
  color: #fff;
  pointer-events: none;  
}
.indice{
  color: antiquewhite;
  margin-top: -10px;
  font-family: "Silkscreen", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 13px;
 
}

#recommencer{
  padding: 10px 20px;
   font-size: 18px;
    cursor: pointer; background-color: #ad6635;
     color: white;
      border: antiquewhite solid 2px;
       border-radius: 5px;
       position: relative;
       right: 90px;
       top: 340px;
}